// ----------------- SITE ----------------- //

@use "./modules/vars";
@use "./modules/reset";

body {
  background: var(--black);
  color: var(--white);
}

p {
  color: red;
}

.banner {
  height: 300px;
  width: 100%;
  background: blue;
}
